<!DOCTYPE html>
<html>
  <head>
    <% if (sails.config.environment === 'development') { %><base href="/node/formularios/index"><% } %>
    <title><%=typeof title == 'undefined' ? 'New Sails App' : title%></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!--STYLES-->
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/form.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/jquery-ui.min.css">
    <link rel="stylesheet" href="/styles/zz-ie10-viewport-bug-workaround.css">
    <!--STYLES END-->
  </head>
  <body>
    <%- body %>
    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->
    <!--SCRIPTS-->
    <script src="/js/dependencies/0_jquery/jquery.min.js"></script>
    <script src="/js/dependencies/1_bootstrap/bootstrap.min.js"></script>
    <script src="/js/dependencies/2_jquery-form/jquery.form.js"></script>
    <script src="/js/dependencies/3_jquery-ui/jquery-ui.min.js"></script>
    <script src="/js/form.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
