<tr>
  <td class="row" colspan="3">
  <% if (typeof session.modedit !== 'undefined') { %>
    <div class="card">
      <div class="card-body">
  <% } %>
        <h3 class="card-title modulo" data-orden="<%= m.orden %>">
          <% if (m.etiqueta) { %><%= m.etiqueta %><% } %>
        </h3>
        <table class="table">
