<% if (typeof session.modedit !== 'undefined') {%>
      <tr class="modulo" data-orden="<%= m.orden %>">
        <td class="col-sm-3">
        </td><td class="col-sm-6">(CIERRA AGRUPAMIENTO)
        </td><td class="col-sm-3">
        </td>
      </tr>
<% } %>

    </table>
  </td>
</tr>
