<div class="modulo" data-orden="<%= m.orden %>">
  <% if (m.texto1) { %>
    <%- m.texto1 -%>
  <% } else if (session.modedit) {  %>
    (texto explicativo al inicio del formulario)
  <% } %>
</div>

<% if (typeof recibido !== "undefined") { %>
  <div class="botonera">
    <button type="button" class="btn btn-primary" id="print" onClick="window.print()">Imprimir comprobante</button>
  </div>
  <script>
    var  bloqueado = true;
  </script>
<% } %>

<form method="post" id="ajaxForm" class="myForm">

  <div class="card">
    <div class="card-body">
      <table class="table">
<% if (typeof recibido !== "undefined") { %>
        <tr>
          <td class="col-sm-3">
            <label for="registro-0">Número de registro:</label>
          </td><td class="col-sm-6">
            <input type="text" class="form-control" id="registro-0" value="<%= recibido.id %>" readonly="readonly">
          </td><td class="col-sm-3">
          </td>
        </tr>
        <tr>
          <td class="col-sm-3">
            <label for="registro-1">Fecha de registro:</label>
          </td><td class="col-sm-6">
            <input type="text" class="form-control" id="registro-1" value="<%= recibido.updatedAt %>" readonly="readonly">
          </td><td class="col-sm-3">
          </td>
        </tr>
<% } %>
