      </table>
    </div>
  </div>

<% if (!config.preview && config.enabled) { -%>
  <div class="content">
    <button type="reset" id="cancelar" class="btn btn-primary" onClick="location.reload()">Cancelar</button>
    <button type="submit" class="btn btn-primary" name="submit" value="enviar">Enviar</button>
    <div id="status"></div>
  </div>
<% } %>

  <% if (typeof(mensaje) !== 'undefined') { -%>
    <div class="alert alert-danger">
      <strong>Error!</strong> <%= mensaje %>
    </div>
  <% } -%>

<% if (!config.preview) { -%>
</form>
<% } -%>

<div class="modulo" orden="<%= m.orden %>">
  <% if (m.texto1) { %><%- m.texto1 %><% } %>
  <% if (m.texto2) { %><%- m.texto2 %><% } %>
</div>

<% if (!config.preview && config.enabled) { %>
<button type="button" id="borrar" class="btn btn-primary">Anular formulario</button>
<% } %>
