@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(../styles/fonts/LatoRegular.ttf) format('truetype');
}

body {font-family:Lato,SansSerif;font-size:16px;}
h3 {font-size:150% !important;}
div.content { margin:2em }
#form {margin:2em;width:90%;}
#myForm span.input-group-addon {font-weight:bold;font-size:100%;background-color:transparent;border:0;text-align:right;}
#myForm input.form-control {font-size:100%;}
#myForm input.form-control[type=checkbox] {width:20px;height:20px;}
#myForm {padding:1em;}
#myForm .table:first-child > tbody > tr:first-child > td {border-top: none;}
#myForm .red {border-color:red;}
#form button#borrar {display:block;margin-top:1em;}
#status {margin-bottom:2em;margin-top:1em;display:inline;}


@media print {
  body {font-size:8pt;}
  button.btn[type=submit],button.btn[type=reset],button#print, button#borrar {display:none;}
  #myForm .table > tbody > tr > td:nth-child(3) {display:none;}
  #myForm .form-control[readonly] {background-color:transparent;color:black;}
  #myForm a {display:none;}
  ::-webkit-input-placeholder {color:transparent !important;}
  :-moz-placeholder {color:transparent !important;}
  ::-moz-placeholder {color:transparent !important;}
  :-ms-input-placeholder {color:transparent !important;}
  ::placeholder {color:transparent !important;}
  input,textarea,button {border:none !important; padding:0 !important; line-height:2em !important;}
  #myForm .panel {border:none !important;}
  #myForm .table td, .table th {padding:0 !important;vertical-align:top !important;}
  #myForm .table span {line-height:2em !important;}
  #myForm .table td {border:none;}
  #myForm .table {margin:0;}
}

#admin {margin:2em;width:90%;}
#admin table.formularios th:nth-child(5),
#admin table.formularios td:nth-child(5),
#admin table.formularios th:nth-child(6),
#admin table.formularios td:nth-child(6) {text-align:center;}
#admin table.formularios span.badge {font-size:100%;}
#admin table.formularios span.red {background-color:#942a25;}
#admin table.formularios:first-child > tbody > tr:first-child > th {border-top: none;}
#admin a.disabled span {color:#888;}
#admin .acciones {white-space:nowrap;}
#admin .acciones a {margin-left:0.8em;opacity:0.5;}
#admin table.formularios tr:hover a {opacity:1;}
#admin #myModal div.modal-body th {padding:0 0.5em 1em 0.5em;}
#admin #myModal div.modal-body td {padding:0 0.5em 1em 0.5em;width:100%;}
#admin #preview .modal-dialog {width:75vw;}
#admin #preview iframe {width:100%;height:70vh;}
